<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net461" />
  <package id="BingMapsRESTToolkit" version="1.1.4" targetFramework="net461" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.633" targetFramework="net461" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="Cyotek.Drawing.BitmapFont" version="1.3.4" targetFramework="net461" />
  <package id="DotSpatial.Data" version="1.9" targetFramework="net461" />
  <package id="DotSpatial.Mono" version="1.9" targetFramework="net461" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net461" />
  <package id="DotSpatial.Serialization" version="1.9" targetFramework="net461" />
  <package id="DotSpatial.Topology" version="1.9" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net461" />
  <package id="geometry3Sharp" version="1.0.324" targetFramework="net461" />
  <package id="HelixToolkit" version="2.9.0" targetFramework="net461" />
  <package id="HelixToolkit.Wpf" version="2.9.0" targetFramework="net461" />
  <package id="Kml2Sql" version="2.1.0" targetFramework="net461" />
  <package id="LiteDB" version="4.1.3" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net461" />
  <package id="MIConvexHull" version="1.1.19.928" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.3" targetFramework="net461" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.3.3" targetFramework="net461" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.3.3" targetFramework="net461" />
  <package id="morelinq" version="3.2.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="NetTopologySuite" version="2.0.0" targetFramework="net461" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.3" targetFramework="net461" />
  <package id="NetTopologySuite.Core" version="1.15.3" targetFramework="net461" />
  <package id="NetTopologySuite.Diagnostics.Tracing" version="0.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3-beta2" targetFramework="net461" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net461" />
  <package id="ProjNET" version="2.0.0" targetFramework="net461" />
  <package id="Rh.DateRange.Picker" version="0.9.1.0" targetFramework="net461" />
  <package id="SharpKml.Core" version="5.0.1" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="2.0.2-pre20191003102319" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.14" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.14" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.14" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.14" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.10.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>